*{
    padding: 0;
    margin: 0;
}
.bgimage{
    background-image: url('office1.jpg');
    background-size:100% 110%;
    width: 100%;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}
.leftmenu{
    width: 25%;
    line-height: 100px;
    font-size: 22px;
    
    float: left;
   /* background-color: green;*/
}
.leftmenu h4{
    padding-left: 70px;
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
            }

.rightmenu{
    width: 75%;
    height: 100px;
    float: right;
    /*background-color: chocolate;*/
}
.rightmenu ul{
    margin-left: 250px;
}
.rightmenu ul li{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;
}
#lust{
    color: orange;
}
.rightmenu ul li:hover{
    color: orange;
}
.text{
    width: 100%;
    margin-top: 185px;
    text-align: center;
    color: white;
    /*background-color: aqua;*/
}

.text h4{
   font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.text h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 12px;
   font-family: 'Open Sans', sans-serif;

}
#buttonone{
    background-color: white;
        border: none;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 150px;
    line-height: 40px;
    margin-top: 25px;
    border: 3px solid white;
    
}
#buttontwo{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
